/* Base */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFF8F0;
    color: #333;
    box-sizing: border-box;
}

.produto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* permite adaptação em telas pequenas */
    gap: 24px;
    padding: 24px 16px;
    text-align: left;
}

.produto-nome {
    font-family: 'Merienda', cursive;
    font-size: 3.3rem;
    font-weight: bold;
    color: #000;
    padding-top: 30px;
    padding-bottom:20px;
}

.produto-img {
    width: 100%;
    max-width: 700px;
    max-height: 600px; /* limite de altura */
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 18px;
    background-color: #ffeae4;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}


.produto-descricao {
    padding: 0 16px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 32px;
    text-align: left;
}

.produto-descricao h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

.produto-descricao p {
    font-size: 2rem;
    color: #333;
    line-height: 1.2;
    hyphens: auto;
}

.produto-footer-fixo {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 20px;
    background-color: #fdf6ef;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.controle-quantidade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: #fff;
    padding: 18px 28px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.controle-quantidade button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    padding: 22px 32px;
    width: 90px;
    height: 75px;
    border-radius: 12px;
    background-color: #f4f4f4;
    cursor: pointer;
    border: none;
}

#quantidade {
    font-size: 2.6rem;
    width: 70px;
    height: 65px;
    padding: 14px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.botao-adicionar {
    background-color: #FF5722;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 480;
    padding: 40px;
    border: none;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s ease;
}

.botao-adicionar:hover {
    background-color: #d84315;
}
