body {
    margin: 0;
    padding: 0;
    background: #fff8f0;
    font-family: 'Roboto', sans-serif;
}

.header {
     width: 100%;
     background-color: #fff8f0;
     padding: 10px 16px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid #eee;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
     position: sticky;
     top: 0;
     z-index: 10;
     box-sizing: border-box;
 }

.logo {
    height: 94px;
    max-height: 25vh;
    object-fit: contain;
}

.icon {
    height: 28px;
    width: 28px;
    margin-right: 12px;
    opacity: 0.85;
    transition: 0.2s ease;
}

.icon:hover {
    opacity: 1;
    transform: scale(1.1);
}

h2 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
    font-family: 'Merienda', cursive;
}

.container {
    padding: 16px;
    max-width: 480px;
    margin: 0 auto;
}

.promocao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 48px;
}



.banner {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 360px; /* controla o tamanho vertical */
    object-fit: cover; /* recorta para manter a imagem "cheia" */
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin-bottom: 25px;
}


.button {
    display: inline-block;
    width: 100%;
    padding: 14px 0;
    background-color: #ff5722;
    color: white;
    font-size: 1.2rem;
    font-weight: 450;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e64a19;
}
