<div th:fragment="body" xmlns:th="http://www.thymeleaf.org">
    <header class="cabecalho">
        <button id="menu-toggle">☰</button>

        <a id="carrinho" href="/carrinho" style="text-decoration: none; color: inherit;">
            <img th:src="@{/img/carrinho.png}" alt="carrinho"><span id="carrinho-count">0</span>
        </a>
    </header>

    <nav id="menu">
        <div class="menu-content">
            <ul>
                <li><a href="https://wa.me/557996110416?text=Ol%C3%A1%2Cquero%20fazer%20o%20seguinte%20pedido%3A"
                    target="_blank" rel="noopener noreferrer">Nosso Whatsapp</a></li>
                <li><a th:href="@{/}">Promoções</a></li>
            </ul>
        </div>
    </nav>
</div>
