<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Promoções</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <img th:src="@{/img/logo.png}" alt="Logo da empresa" class="logo">

    <!-- Se NÃO estiver logado -->
    <div th:if="${foto == null}">
        <a href="/oauth2/authorization/google">
            <img src="https://i.imgur.com/pTPrSiF.png" alt="Login" class="icon" />
        </a>
    </div>

    <!-- Se estiver logado -->
    <div th:if="${foto != null}">
        <img th:src="${foto}" alt="Foto do usuário" class="icon" />
       <!-- <span th:text="${nome}">Usuário</span>-->
        <script>
            localStorage.removeItem('carrinho');
        </script>
    </div>

</header>

<div class="container">
    <div class="promocao" th:each="promo : ${promocoes}">
        <h1 th:text="${promo.titulo}">Promoção</h1>
        <img th:src="${promo.imgUrl}" alt="Promoção" class="banner">
        <a href="/cardapio" class="button">Ver Cardápio</a>
    </div>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-info">
            <p>&copy; 2025 - Direitos e normas reservadas.</p>
            <p>Contato: <a href="mailto:ikrobr.dev@gmail.com" id="email">ikrobr.dev@gmail.com</a></p>
        </div>
        <div class="footer-links">
            <a href="/sobre">Sobre nós</a>
            <a href="/politica">Política de Privacidade</a>
            <a href="/termos">Termos de Uso</a>
        </div>
    </div>
</footer>

</body>
</html>
